
#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  background-color: blueviolet;
  border: 9px solid #000; 
  border-radius: 30px;
  

 
}